/* ============ FONTS ================= */

.f-work-sans-1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    color: #0C1919;
}

.f-work-sans-2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    color: #0C1919;
}

.f-work-sans-3 {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    color: #0C1919;
}

.f-indie-flower-1 {
    font-family: 'Indie Flower', cursive;
    font-size: 48px;
    font-weight: lighter;
    color: #E1A142;
}

.f-indie-flower-2 {
    font-family: 'Indie Flower', cursive;
    font-size: 36px;
    font-weight: lighter;
    color: #4E7777;
}


/* ============ GENERAL STYLES ================= */

* {
    margin: 0%;
    padding: 0%;
}

.wrapper {
    max-width: 1024px;
    justify-self: center;
    margin: 24px;
}

.styled-box {
    border-radius: 10px;
    box-shadow: 0px 10px 20px -9px #4E7777;
}

.card-button {
    background-color: #4E7777;
    box-shadow: 0px 10px 20px -9px #4E7777;
    transition: all ease-in 100ms;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    margin: 16px 0px 0px 0px;
    padding: 6px 14px;
}

.card-button:hover {
    background-color: #608f8fe7;
}


/* ============ HEADER & NAV ================= */

.header {
    background-color: #0C1919;
    display: flex;
    justify-content: center;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 24px;
}

.nav-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 32px;
    height: 32px;
}

.nav-button__line {
    border-radius: 24px;
    background-color: #fff;
    height: 4px;
}

.nav-container {
    display: none;
}

.nav-container__li {
    margin: 0px 12px;
}

.nav-container__li a{
    text-decoration: none;
    color: #fff;
}

.active {
    background-color: #88AAAA;
    padding: 8px 16px;
    border-radius: 8px;
}


/* ============ MAIN CONTENT ================= */

/* HERO */

.hero {
    background-image: url(assets/inicio/portada.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
    padding: 2% 0% 12% 0%;
}

.hero-text {
    margin: 16px 0px;
    color: #fff;
}


/* ACTIVITIES */

.activities {
    display: flex;
    justify-content: center;
    transform: translateY(-3%);
}

.activities-border {
    background-color: #fff;
    border-radius: 20px;
    margin: 0% 4%;
}

.activities-container {
    width: 100%;
}

.activities-card {
    max-width: 328px;
    margin: 0% 0% 8% 0%;
}

.activities-card img {
    width: 100%;
    margin: 0px 0px 10px 0px;
}


/* ABOUT */

.about {
    display: flex;
    justify-content: center;
    text-align: center;
    transform: translateY(-4%);
}

.about .wrapper {
    margin: 0px 24px;
}

.about-title {
    margin: 0px 0px 8px 0px;
}


/* BANNER */

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-image: url(assets/inicio/fondo-ola.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;

    margin: 40px 0px;
}

.banner-text {
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    font-size: 24px;
    margin: 12% 2%;
}


/* FEATURED PLACES */

.featured-places {
    display: flex;
    justify-content: center;
}

.featured-places-container {
    width: 100%;
    display: grid;
    grid-template-areas: 
    "card-1"
    "card-2"
    "card-3";
    grid-template-rows: repeat(3, max-content);
    gap: 40px;
    margin: 20px 0px;
}

.card-1 {
    grid-area: card-1;
}

.card-2 {
    grid-area: card-2;
}

.card-3 {
    grid-area: card-3;
}

.featured-places-card img {
    width: 100%;
    margin: 0px 0px 20px 0px;
}

.featured-places-card ul {
   margin: 0px 0px 0px 30px;
}


/* REVIEWS */

.reviews {
    display: flex;
    justify-content: center;
    margin: 0px 0px 80px 0px;
}

.reviews-card {
    background-color: #88AAAA4D;
    margin: 24px 0px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews-card img {
    border: 3px solid #fff;
    border-radius: 80px;
}

.reviews-card-text {
    margin: 12px 0px 0px 0px;
}

.reviews-card__opinion {
    font-style: italic;
    margin: 0px 0px 12px 0px;
}

.reviews-card__name {
    color: #4E7777;
}


/* ============= FOOTER ================= */

.footer {
    background-color: #4E7777;
    padding: 40px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .wrapper {
    width: 100%;
    margin: 0%;
}

.social {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0px 0px 24px 0px;
}

.social li {
    margin: 0% 6px;
}

.copy {
    color: #fff;
    text-align: center;
}



/* ============ MEDIA QUERIES ================ */


/* ====== 475px =======*/

@media screen and (min-width: 475px) {
    
    /* ESTILOS GENERALES */

    .wrapper {
        margin: 8%;
    }

    /* HEADER & NAV */

    .header .wrapper {
        margin: 8px 8%;
    }

    /* ACTIVITIES */

    .activities .wrapper {
        margin: 24px;
    }

    .activities {
        transform: translateY(-4%);
    }

    /* ABOUT */

    .about {
        transform: translateY(-8%);
    }

    /* BANNER */

    .banner-text {
        font-size: 28px;
    }

    /* FEATURED PLACES */
    
    .featured-places-container {
        grid-template-areas: 
        "card-1 card-1"
        "card-2 card-3";
        grid-template-rows: repeat(2, max-content);
        gap: 40px 20px;
    }  
}


/* ===== 580px ===== */

@media screen and (min-width: 580px) {

    /* REVIEWS */

    .reviews-card {
        flex-direction: row;
    }

    .reviews-card-text {
        margin: 0px 0px 0px 12px;
    }
}


/* ====== 768px ====== */

@media screen and (min-width: 768px) {

    /* ESTILOS GENERALES */

    .wrapper {
        margin: 24px 12%;
    }

    /* HEADER & NAV */

    .header .wrapper {
        margin: 8px 12%;
    }

    /* ACTIVITIES */

    .activities {
        transform: translateY(-16%);
    }

    .activities-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: start;
        column-gap: 20px;
    }

    /* ABOUT */

    .about {
        transform: translateY(-18%);
    }

    /* BANNER */

    .banner-text {
        font-size: 32px;
        padding: 0% 10%;
    }
    
    /* FOOTER */

    .footer .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .social {
        margin-bottom: 0%;
    }
}



/* ======= 1024px ======== */

@media screen and (min-width: 1024px) {

    /* GENERAL STYLES */

    .wrapper {
        margin: 24px;
    }

    /* HEADER & NAV */

    .header .wrapper {
        margin: 8px 24px;
    }

    .nav-button {
        display: none;
    }

    .nav-container {
        display: block;
    }

    .nav-container__ul {
        display: flex;
        list-style: none;
        align-items: center;
    }

    /* FEATURED PLACES */

    .featured-places-container {
        display: grid;
        grid-template-areas: 
        "card-1 card-1"
        "card-2 card-3";
        grid-template-rows: 394px 364px;
        gap: 40px 20px;
   }

   .featured-places-card {
       display: flex;
   }

   .featured-places-card img {
       width: auto;
       height: auto;
       margin-right: 20px;
   }

   .featured-places-card div {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: flex-start;
   }

   /* REVIEWS */

   .reviews-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
    }

}

/* ============= */

